@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h1ey4b');
  src:  url('fonts/icomoon.eot?h1ey4b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h1ey4b') format('truetype'),
    url('fonts/icomoon.woff?h1ey4b') format('woff'),
    url('fonts/icomoon.svg?h1ey4b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-twitter:hover{
  color: #F39C12;
}
.icon-banknote:before {
  content: "\e909";
}
.icon-banknote:hover{
  color: #F39C12;
}
.icon-world:before {
  content: "\e901";
}
.icon-world:hover{
  color: #F39C12;
}
.icon-globe:before {
  content: "\e901";
}
.icon-globe:hover{
  color: #F39C12;
}
.icon-internet:before {
  content: "\e901";
}
.icon-internet:hover{
  color: #F39C12;
}
.icon-network:before {
  content: "\e901";
}
.icon-network:hover{
  color: #F39C12;
}
.icon-lab:before {
  content: "\e902";
}
.icon-lab:hover{
  color: #F39C12;
}
.icon-beta:before {
  content: "\e902";
}
.icon-beta:hover{
  color: #F39C12;
}
.icon-experiment:before {
  content: "\e902";
}
.icon-experiment:hover{
  color: #F39C12;
}
.icon-test:before {
  content: "\e902";
}
.icon-test:hover{
  color: #F39C12;
}
.icon-star:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e903";
}
.icon-like:before {
  content: "\e904";
}
.icon-stack:before {
  content: "\e905";
}
.icon-drawer:before {
  content: "\e905";
}
.icon-inbox:before {
  content: "\e905";
}
.icon-box:before {
  content: "\e905";
}
.icon-cup:before {
  content: "\e906";
}
.icon-drink:before {
  content: "\e906";
}
.icon-params:before {
  content: "\e907";
}
.icon-bulb:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e971";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook:hover{
  color: #F39C12;
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss:hover{
  color: #F39C12;
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-dribbble:hover{
  color: #F39C12;
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-linkedin2:hover{
  color: #F39C12;
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-pinterest2:hover{
  color: #F39C12;
}
